<div class="card-wrapper">
    <div class="card-body">
        <h4 class="payslip-title">Payslip for the month of March 2023</h4>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <img src="https://smarthr.dreamguystech.com/codeigniter/template/maroon/public/assets/img/logo2.png"
                    class="inv-logo" alt="">
                <ul class="list-unstyled mb-0 font-14">
                    <li>Dreamguy's Technologies</li>
                    <li>3864 Quiet Valley Lane,</li>
                    <li>Sherman Oaks, CA, 91403</li>
                </ul>
            </div>
            <div class="col-sm-6 mb-3">
                <div class="invoice-details">
                    <h3 class="text-uppercase">Payslip #49029</h3>
                    <ul class="list-unstyled">
                        <li class="font-15">Salary Month: <span>March, 2019</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <h5 class="mb-0"><strong class="font-15">John Doe</strong></h5>
                    </li>
                    <li class="font-14"><span>Web Designer</span></li>
                    <li class="font-14">Employee ID: FT-0009</li>
                    <li class="font-14">Joining Date: 1 Jan 2013</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <h5>Earnings</h5>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Basic Salary <span class="float-end">$6500</span></td>
                            </tr>
                            <tr>
                                <td>House Rent Allowance (H.R.A.) <span class="float-end">$55</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Conveyance <span class="float-end">$55</span></td>
                            </tr>
                            <tr>
                                <td>Other Allowance <span class="float-end">$55</span></td>
                            </tr>
                            <tr>
                                <td>Bonus <span class="float-end">$55</span></td>
                            </tr>
                            <tr>
                                <td>Overtime <span class="float-end">$55</span></td>
                            </tr>
                            <tr>
                                <td><strong>Total Earnings</strong> <span class="float-end"><strong>$11500</strong></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h5>Deductions</h5>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Tax Deducted at Source (T.D.S.) <span class="float-end">$0</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Provident Fund <span class="float-end">$0</span></td>
                            </tr>
                            <tr>
                                <td>ESI <span class="float-end">$0</span></td>
                            </tr>
                            <tr>
                                <td>Loan <span class="float-end">$300</span></td>
                            </tr>
                            <tr>
                                <td>Leave without Pay <span class="float-end">$300</span></td>
                            </tr>
                            <tr>
                                <td><strong>Total Deductions</strong> <span
                                        class="float-end"><strong>$1250</strong></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <p><strong>Net Salary: $59698</strong> (Fifty nine thousand six hundred and ninety eight only.)</p>
            </div>
        </div>
    </div>
</div>