
<div class="card-wrapper">
    <div class="header justify-content-between">
        <h5 class="title">Employees List</h5>
        <button type="button" class="btn btn-outline-primary font-13" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="las la-plus"></i>
            Add Employee
        </button>
    </div>
    <div class="employee_list table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Join Date</th>
                <th scope="col">Designation</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of employees">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.contact}}</td>
                <td>{{item.join_date}}</td>
                <td>{{item.role}}</td>
                <td>
                    <div class="action">
                        <i class="las la-edit"></i>
                        <i class="las la-trash"></i>
                        <a routerLink="/Employees/employee-profile">
                          <i class="las la-eye"></i>
                        </a>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<app-my-modal title="Create Employee">
    <div class="create_employee_wrapper">
      <form>
        <div class="row">
          <div class="col-lg-4 col-md-6 form-input mb-3">
            <span class="form-label">First Name</span>
            <input type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="col-lg-4 col-md-6 form-input mb-3">
            <span class="form-label">Last Name</span>
            <input type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="col-lg-4 col-md-6 form-input mb-3">
            <span class="form-label">Nationality</span>
            <select name="" id=""  class="form-control">
              <option value="">Pakistan</option>
              <option value="">Saudi Arabia</option>
              <option value="">Dubai</option>
            </select>
          </div>
          <div class="col-lg-4 col-md-6 form-input mb-3">
            <span class="form-label">Conotact No</span>
            <input type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="col-lg-4 col-md-6 form-input mb-3">
            <span class="form-label">Emergency No</span>
            <input type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="col-lg-4 col-md-6 form-input mb-3">
            <span class="form-label">Basic Salary</span>
            <input type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="col-lg-4 col-md-6 form-input mb-3">
            <span class="form-label">Profile Picture</span>
            <input type="file" class="form-control">
          </div>
          <div class="col-lg-4 col-md-6 form-input mb-3">
            <span class="form-label">Passport Picture</span>
            <input type="file" class="form-control">
          </div>
          <div class="col-lg-4 col-md-6 form-input mb-3">
            <span class="form-label">Iqama Picture</span>
            <input type="file" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 form-input mb-3">
            <button type="submit" class="btn btn-outline-primary">Create</button>
          </div>
         
        </div>
      </form>
    </div>
</app-my-modal>