<div class="dashboard_content_wrapper">
    <div class="row">
        <div class="col-lg-3">
            <div class="card-wrapper border-info">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">New Employees</p>
                        <h4 class="my-1 text-info">10</h4>
                        <p class="mb-0 font-13">+2.5% from last week</p>
                    </div>
                    <div class="widgets-icons-2 rounded-circle bg-gradient-blues text-white ms-auto">
                        <i class="las la-user"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card-wrapper border-danger">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Earnings</p>
                        <h4 class="my-1 text-danger">$84,245</h4>
                        <p class="mb-0 font-13">+5.4% from last week</p>
                    </div>
                    <div class="widgets-icons-2 rounded-circle bg-gradient-burning text-white ms-auto">
                        <i class="las la-wallet"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card-wrapper border-success">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Expenses</p>
                        <h4 class="my-1 text-success">$75,850</h4>
                        <p class="mb-0 font-13">-4.5% from last week</p>
                    </div>
                    <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
                        <i class="lar la-chart-bar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card-wrapper border-warning">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Profit</p>
                        <h4 class="my-1 text-warning">$84,245</h4>
                        <p class="mb-0 font-13">+8.4% from last week</p>
                    </div>
                    <div class="widgets-icons-2 rounded-circle bg-gradient-orange text-white ms-auto">
                        <i class="las la-hand-holding-usd"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card-wrapper">
                <h5 class="title">Statistics</h5>
                <div class="stats-wrapper">
                    <div class="stat-info">
                        <p>Today Leaves <strong>5/15</strong> </p>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-orange" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>
                    <div class="stat-info">
                        <p>Today Present <strong>5/15</strong> </p>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-ohhappiness" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>
                    <div class="stat-info">
                        <p>Pending invoice <strong>5/15</strong> </p>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-blues" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>
                    <div class="stat-info">
                        <p>salary paid <strong>5/15</strong> </p>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-burning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card-wrapper">
                <div class="header">
                    <h5 class="title">Today Absent</h5>
                    <span class="badge bg-gradient-orange ms-2">5</span>
                </div>
                <div class="leave-wrapper">
                    <div class="leave-info-box">
                        <div class="d-flex align-items-center">
                            <a href="profile" class="avatar">
                                <img alt="" src="https://smarthr.dreamguystech.com/codeigniter/template/maroon/public/assets/img/user.jpg">
                            </a>
                            <div class="media-body flex-grow-1">
                                <h5 class="m-0 font-15">Martin Lewis</h5>
                            </div>
                        </div>
                        <div class="row align-items-center mt-3">
                            <div class="col-6">
                                <h5 class="font-15 m-0">4 Sep 2019</h5>
                                <span class="font-13 m-0">Leave Date</span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="badge bg-badge-success">Approved</span>
                            </div>
                        </div>
                    </div>
                    <div class="leave-info-box">
                        <div class="d-flex align-items-center">
                            <a href="profile" class="avatar">
                                <img alt="" src="https://smarthr.dreamguystech.com/codeigniter/template/maroon/public/assets/img/user.jpg">
                            </a>
                            <div class="media-body flex-grow-1">
                                <h5 class="m-0 font-15">Martin Lewis</h5>
                            </div>
                        </div>
                        <div class="row align-items-center mt-3">
                            <div class="col-6">
                                <h5 class="font-15 m-0">4 Sep 2019</h5>
                                <span class="font-13 m-0">Leave Date</span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="badge bg-badge-danger">Pending</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card-wrapper">
                <div class="header">
                    <h5 class="title">Salary Analysis</h5>
                </div>
                <div id="chart" class="d-flex justify-content-center" style="height: 255px;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card-wrapper">
                <div class="header">
                    <h5 class="title">Employees</h5>
                </div>
                <div class="employees table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">FatherName</th>
                            <th scope="col">CNIC</th>
                            <th scope="col">Contact No</th>
                            <th scope="col">Emergency No</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of emp">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.Name}}</td>
                            <td>{{item.FatherName}}</td>
                            <td>{{item.CNIC}}</td>
                            <td>{{item.Contact_No}}</td>
                            <td>{{item.Emergency_No}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card-wrapper">
                <div class="header">
                    <h5 class="title">Payroll</h5>
                </div>
                <div class="payroll table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Invoice</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Payment Type</th>
                            <th scope="col">Payment Date</th>
                            <th scope="col">Paid Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of payroll">
                            <th scope="row">{{item.Invoice_id}}</th>
                            <td>{{item.EmpName}}</td>
                            <td>{{item.Payment_type}}</td>
                            <td>{{item.Payment_date}}</td>
                            <td>{{item.Paid_amount}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    
</div>